*{
box-sizing:border-box;
}

body{
	margin:0;
	padding:0; 
	
}

.pagewrapper{
text-align:center;

}

/* img */
.gallery{
	float:left;
	width: 33.33%;
	padding: 3px;
}

.gallery img{
	height: 300px;
	width: 100%;
}

