


	
	
body {
  background-image: url('dublin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
	
    color: white;
	float: center;
	/* background-color: white */
}
h3{    
	float: center;
	background-color: #1a1a1a;
   color: white;
   font-style: Livvic;
}