


	
	
body {
  background-image: url('dublin.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
	color: white;
}
h2{
	color: white;
	float: center;
}
